html{
	font-size: 62.5%;	
}
*{
	font-family:Helvetica,sans-serif;
	outline: none;
	border:  none;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
#affi{
	padding: 1.5rem;
	width: 24.9rem;
	height: 5rem;
	border-radius: 1.2rem;
	background-color: white;
	color: black;
	font-size: 2rem;
}
h1{
	text-align: center;
	font-size: 3rem;
	color: white;
}
body{
	background: #f7f7f7;
	display: flex;
}
.affiche{
	padding: 1.5rem;
	width: 24.9rem;
	height: 5rem;
	border-radius: 0.8rem;
	background-color: white;
	color: black;
	font-size: 2rem;
	overflow-y: hidden;
	overflow-x: auto;
  	scrollbar-color: #333;
  	scrollbar-width: 2px;
}
.navbar_near{
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
	padding: 1rem 0;
	width: 260px;
	
	width: 20rem;
	height: 41rem;
	margin-left: 15rem;
	margin-right: 4rem;
	margin-top: 5rem;
}
.navbar_near::before{
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 1rem;
	background-color: black;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;

}
.navbar_near .title{
	margin-left: 12px;
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 4px;
	border-bottom: 2px solid #e6e6e6;
}
.navbar_near .near ul{
	display: flex;
	flex-direction: column;
}
.navbar_near .near ul li{
	position: relative;
	margin-bottom: 13px;
	display: block;
	width: 15rem;
	padding: 0.7rem 1.2rem;

	
}
.navbar_near .near ul li::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
		
}
.navbar_near .near ul li:hover::before{
	background-color: #333;
	border-top-left-radius: 1rem;
	width: 4px;
	
}
.navbar_near .near ul li:hover{
	background-color: #f7f7f7;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	
}
.navbar_near .near ul li:visited::before{
	background-color: #333;
	border-top-left-radius: 1rem;
	width: 4px;
}
.navbar_near .near ul li:visited{
	background-color: #f7f7f7;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.navbar_near .near ul li a{
	font-size: 1.6rem;
	color: black;
	font-weight: bold;

}
main .container{
	display: flex;
	width: 28rem;
	height: 41rem;
	padding: 1.4rem;
	background-color: black;
	border-radius: 12px;
	margin-top: 5rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
main .container .right{
	width: 28rem;
	position: absolute;
	height: 41rem;
	padding: 1.4rem;
	/* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-left: 65rem;
	overflow: auto;
}
main .containerAutre{
	display: flex;
	width: 35rem;
	height: 41rem;
	padding: 1.4rem;
	border-radius: 12px;
	margin-top: 5rem;
	/* justify-content: center;
	align-items: center; */
	flex-direction: column;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

}
div button{
	padding: 1rem;
	background-color: white;
	color: black;
	border-radius: 50%;
	margin: 0.5rem;
	width: 5rem;
	height: 5rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;

}
.pass{
	background-color: deeppink;
	color: white;
}



.containerAutre h2{
	text-decoration: underline;
	margin-left: 5px;
	margin-top: 5px;
}
.containerAutre p .img_profil{
	border-radius: 9px;
	width: 145px;
	height: auto;
}
.containerAutre .info{
	display: flex;
}
.containerAutre .infos{
	display: flex;
	flex-direction: column;
}
.containerAutre .infos p{
	color: gray;

}


/* users style */
.users{
	padding: 25px 30px;

}
.container img{
	object-fit: cover;
	border-radius: 50%;
}
.users header{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}
.users header .content{
display: flex;
}
.users header .content .img{
	height: 50px;
	width: 50px;
}
.users header .details{
	margin-left: 15px;

}
.users header .details span{
	font-size: 18px;
	font-weight: 500;
}
.users header .logout{
	color: #fff;
	font-size: 17px;
	padding: 7px 15px;
	background: #333;
	border-radius: 5px;
}
.users .search{
	position: relative;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.users .search .text{
	font-size: 18px;
}
.users .search input{
	position: absolute;
	height: 42px;
	width: calc(100% - 50px);
	border: 1px solid #ccc;
	padding: 0 13px;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.users .search button{
	width: 47px;
	height: 42px;
	border: none;
	outline: none;
	color: #fff;
	background-color: #333;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 17px;
}
